@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin 'daisyui' {
	themes: light --default;
}

@theme {
	--font-headings: 'Manrope Variable', 'ui-sans-serif', 'system-ui', 'sans-serif';
	--font-sans: 'Nunito Sans Variable', 'ui-sans-serif', 'system-ui', 'sans-serif';
	--border-color: #d4d4d4;
	--background-color: #f2f4f5;
}

html {
	@apply prose-headings:font-(family-name:--font-headings) prose-headings:font-[600] bg-(--background-color) bg-[url('background.png')] bg-cover bg-no-repeat;
}

@utility btn {
	@apply rounded-lg font-normal shadow-none;
}
